# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Project Specific
1_bayes_filter/plots/
2_kalman_filter/plots/
3_ekf/plots/

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
.DS_Store
